In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
# import sys
# sys.path.append("Resources/")
import resources.config as c

In [2]:
# Import movies CSV
movies_csv = os.path.join("Resources", "streaming_movies.csv")
movies_df = pd.read_csv(movies_csv)
movies_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [3]:
# Drop unnamed column (used Stack Overflow for this)
movies_df.drop(movies_df.columns[movies_df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
movies_df.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [4]:
# Find missing data
movies_df.count()

ID                 16744
Title              16744
Year               16744
Age                 7354
IMDb               16173
Rotten Tomatoes     5158
Netflix            16744
Hulu               16744
Prime Video        16744
Disney+            16744
Type               16744
Directors          16018
Genres             16469
Country            16309
Language           16145
Runtime            16152
dtype: int64

In [5]:
# Drop rows missing data
movies_df.dropna(axis=0, how="any", inplace=True)
movies_df.count()

ID                 3301
Title              3301
Year               3301
Age                3301
IMDb               3301
Rotten Tomatoes    3301
Netflix            3301
Hulu               3301
Prime Video        3301
Disney+            3301
Type               3301
Directors          3301
Genres             3301
Country            3301
Language           3301
Runtime            3301
dtype: int64

In [6]:
# Find column types
movies_df.dtypes

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
Type                 int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [7]:
# Combine title and year which we will then use to create a unique ID for each film 
# Used code from "https://cmdlinetips.com/2018/11/how-to-join-two-text-columns-into-a-single-column-in-pandas/" to help with this
movies_df["Movie_Title"] = movies_df["Year"].astype(str).str.cat(movies_df["Title"],sep="-")
movies_df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,Movie_Title
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,2010-Inception
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,1999-The Matrix
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,2018-Avengers: Infinity War
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1985-Back to the Future
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,"1966-The Good, the Bad and the Ugly"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16657,16658,A Kid in King Arthur's Court,1995,7+,4.7,5%,0,0,0,1,0,Michael Gottlieb,"Adventure,Comedy,Family,Fantasy,Romance","United States,Hungary,United Kingdom",English,89.0,1995-A Kid in King Arthur's Court
16671,16672,George of the Jungle 2,2003,7+,3.3,17%,0,0,0,1,0,David Grossman,"Adventure,Comedy,Family","United States,Australia",English,87.0,2003-George of the Jungle 2
16677,16678,That Darn Cat,1997,7+,4.7,13%,0,0,0,1,0,Robert Stevenson,"Comedy,Crime,Family,Thriller",United States,"English,French",116.0,1997-That Darn Cat
16687,16688,Kazaam,1996,7+,3.0,6%,0,0,0,1,0,Paul Michael Glaser,"Comedy,Family,Fantasy,Musical",United States,English,93.0,1996-Kazaam
16705,16706,Meet the Deedles,1998,7+,4.1,7%,0,0,0,1,0,Steve Boyum,"Comedy,Family",United States,English,93.0,1998-Meet the Deedles

In [8]:
# Use hash func to create unique ID, then add to dataframe
unique_movie_id = (movies_df['Movie_Title'].apply(hash))
movies_df.insert(0,"Unique_ID", unique_movie_id)
del movies_df["ID"]
del movies_df["Type"]
movies_df

,Unique_ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime,Movie_Title
0,8200595708257654949,Inception,2010,13+,8.8,87%,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,2010-Inception
1,5188275833930102989,The Matrix,1999,18+,8.7,87%,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,1999-The Matrix
2,-6880419312316972355,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,2018-Avengers: Infinity War
3,4448846639258475905,Back to the Future,1985,7+,8.5,96%,1,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1985-Back to the Future
4,3669118632546648811,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,"1966-The Good, the Bad and the Ugly"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16657,1522079805406605947,A Kid in King Arthur's Court,1995,7+,4.7,5%,0,0,0,1,Michael Gottlieb,"Adventure,Comedy,Family,Fantasy,Romance","United States,Hungary,United Kingdom",English,89.0,1995-A Kid in King Arthur's Court
16671,9061439376535566169,George of the Jungle 2,2003,7+,3.3,17%,0,0,0,1,David Grossman,"Adventure,Comedy,Family","United States,Australia",English,87.0,2003-George of the Jungle 2
16677,-2409926504765797047,That Darn Cat,1997,7+,4.7,13%,0,0,0,1,Robert Stevenson,"Comedy,Crime,Family,Thriller",United States,"English,French",116.0,1997-That Darn Cat
16687,6910040699332487969,Kazaam,1996,7+,3.0,6%,0,0,0,1,Paul Michael Glaser,"Comedy,Family,Fantasy,Musical",United States,English,93.0,1996-Kazaam
16705,-5751548207420351318,Meet the Deedles,1998,7+,4.1,7%,0,0,0,1,Steve Boyum,"Comedy,Family",United States,English,93.0,1998-Meet the Deedles

In [9]:
movies_df.dtypes

Unique_ID            int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
Movie_Title         object
dtype: object

In [10]:
movies_df = movies_df.rename(columns={"Unique_ID":"unique_id", "Title":"title", "Year":"year", "Age":"age", "IMDb":"imdb", "Rotten Tomatoes":"rotten_tomatoes", 
                                      "Netflix":"netflix", "Hulu":"hulu", "Prime Video":"prime_video", "Disney+":"disney_plus", "Directors":"directors", "Genres":"genres", 
                                      "Country":"country", "Language":"language", "Runtime":"runtime", "Movie_Title":"movie_title"})
movies_df

,unique_id,title,year,age,imdb,rotten_tomatoes,netflix,hulu,prime_video,disney_plus,directors,genres,country,language,runtime,movie_title
0,8200595708257654949,Inception,2010,13+,8.8,87%,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,2010-Inception
1,5188275833930102989,The Matrix,1999,18+,8.7,87%,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,1999-The Matrix
2,-6880419312316972355,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,2018-Avengers: Infinity War
3,4448846639258475905,Back to the Future,1985,7+,8.5,96%,1,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1985-Back to the Future
4,3669118632546648811,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,"1966-The Good, the Bad and the Ugly"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16657,1522079805406605947,A Kid in King Arthur's Court,1995,7+,4.7,5%,0,0,0,1,Michael Gottlieb,"Adventure,Comedy,Family,Fantasy,Romance","United States,Hungary,United Kingdom",English,89.0,1995-A Kid in King Arthur's Court
16671,9061439376535566169,George of the Jungle 2,2003,7+,3.3,17%,0,0,0,1,David Grossman,"Adventure,Comedy,Family","United States,Australia",English,87.0,2003-George of the Jungle 2
16677,-2409926504765797047,That Darn Cat,1997,7+,4.7,13%,0,0,0,1,Robert Stevenson,"Comedy,Crime,Family,Thriller",United States,"English,French",116.0,1997-That Darn Cat
16687,6910040699332487969,Kazaam,1996,7+,3.0,6%,0,0,0,1,Paul Michael Glaser,"Comedy,Family,Fantasy,Musical",United States,English,93.0,1996-Kazaam
16705,-5751548207420351318,Meet the Deedles,1998,7+,4.1,7%,0,0,0,1,Steve Boyum,"Comedy,Family",United States,English,93.0,1998-Meet the Deedles

In [11]:
movies_df.set_index("unique_id", inplace=True)
movies_df

,title,year,age,imdb,rotten_tomatoes,netflix,hulu,prime_video,disney_plus,directors,genres,country,language,runtime,movie_title
unique_id,,,,,,,,,,,,,,,
8200595708257654949,Inception,2010,13+,8.8,87%,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,2010-Inception
5188275833930102989,The Matrix,1999,18+,8.7,87%,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,1999-The Matrix
-6880419312316972355,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,2018-Avengers: Infinity War
4448846639258475905,Back to the Future,1985,7+,8.5,96%,1,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1985-Back to the Future
3669118632546648811,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,"1966-The Good, the Bad and the Ugly"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1522079805406605947,A Kid in King Arthur's Court,1995,7+,4.7,5%,0,0,0,1,Michael Gottlieb,"Adventure,Comedy,Family,Fantasy,Romance","United States,Hungary,United Kingdom",English,89.0,1995-A Kid in King Arthur's Court
9061439376535566169,George of the Jungle 2,2003,7+,3.3,17%,0,0,0,1,David Grossman,"Adventure,Comedy,Family","United States,Australia",English,87.0,2003-George of the Jungle 2
-2409926504765797047,That Darn Cat,1997,7+,4.7,13%,0,0,0,1,Robert Stevenson,"Comedy,Crime,Family,Thriller",United States,"English,French",116.0,1997-That Darn Cat
6910040699332487969,Kazaam,1996,7+,3.0,6%,0,0,0,1,Paul Michael Glaser,"Comedy,Family,Fantasy,Musical",United States,English,93.0,1996-Kazaam
-5751548207420351318,Meet the Deedles,1998,7+,4.1,7%,0,0,0,1,Steve Boyum,"Comedy,Family",United States,English,93.0,1998-Meet the Deedles

In [12]:
# Import series CSV
series_csv = os.path.join("Resources", "streaming_series.csv")
series_df = pd.read_csv(series_csv)
series_df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [13]:
# Drop unnamed column (used Stack Overflow for this)
series_df.drop(series_df.columns[series_df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
series_df.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [14]:
# Find missing data
series_df.count()

Title              5611
Year               5611
Age                3165
IMDb               4450
Rotten Tomatoes    1011
Netflix            5611
Hulu               5611
Prime Video        5611
Disney+            5611
type               5611
dtype: int64

In [15]:
# Drop rows missing data
series_df.dropna(axis=0, how="any", inplace=True)
series_df.count()

Title              931
Year               931
Age                931
IMDb               931
Rotten Tomatoes    931
Netflix            931
Hulu               931
Prime Video        931
Disney+            931
type               931
dtype: int64

In [16]:
# Find column types
series_df.dtypes

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
type                 int64
dtype: object

In [17]:
# Combine title and year which we will then use to create a unique ID for each film 
# Used code from "https://cmdlinetips.com/2018/11/how-to-join-two-text-columns-into-a-single-column-in-pandas/" to help with this
series_df["Movie_Title"] = series_df["Year"].astype(str).str.cat(series_df["Title"],sep="-")
series_df

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,Movie_Title
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,2008-Breaking Bad
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,2016-Stranger Things
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,2017-Money Heist
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,2010-Sherlock
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,2015-Better Call Saul
...,...,...,...,...,...,...,...,...,...,...,...
5509,Diary of a Future President,2020,7+,5.5,100%,0,0,0,1,1,2020-Diary of a Future President
5517,Encore!,2019,7+,7.4,68%,0,0,0,1,1,2019-Encore!
5522,Spider-Man Unlimited,1999,7+,6.5,50%,0,0,0,1,1,1999-Spider-Man Unlimited
5530,The Super Hero Squad Show,2009,7+,6.1,50%,0,0,0,1,1,2009-The Super Hero Squad Show
5575,Marvel's Hero Project,2019,7+,6.1,92%,0,0,0,1,1,2019-Marvel's Hero Project

In [18]:
# Use hash func to create unique ID, then add to dataframe
unique_id = (series_df['Movie_Title'].apply(hash))
series_df.insert(0,"Unique_ID", unique_id)
del series_df["type"]
series_df

,Unique_ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Movie_Title
0,-2053776839122489615,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,2008-Breaking Bad
1,-2245495451778809396,Stranger Things,2016,16+,8.8,93%,1,0,0,0,2016-Stranger Things
2,4300514085241035444,Money Heist,2017,18+,8.4,91%,1,0,0,0,2017-Money Heist
3,7635463577540930099,Sherlock,2010,16+,9.1,78%,1,0,0,0,2010-Sherlock
4,5668401974009075917,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,2015-Better Call Saul
...,...,...,...,...,...,...,...,...,...,...,...
5509,-2643106944890082148,Diary of a Future President,2020,7+,5.5,100%,0,0,0,1,2020-Diary of a Future President
5517,3025389954082154991,Encore!,2019,7+,7.4,68%,0,0,0,1,2019-Encore!
5522,-5690170239431945491,Spider-Man Unlimited,1999,7+,6.5,50%,0,0,0,1,1999-Spider-Man Unlimited
5530,664097865986837535,The Super Hero Squad Show,2009,7+,6.1,50%,0,0,0,1,2009-The Super Hero Squad Show
5575,1424252878714582392,Marvel's Hero Project,2019,7+,6.1,92%,0,0,0,1,2019-Marvel's Hero Project

In [19]:
# Rename columns
series_df = series_df.rename(columns={"Unique_ID":"unique_id", "Title":"title", "Year":"year", "Age":"age", "IMDb":"imdb", "Rotten Tomatoes":"rotten_tomatoes", 
                                      "Netflix":"netflix", "Hulu":"hulu", "Prime Video":"prime_video", "Disney+":"disney_plus", "Movie_Title":"movie_title"})
series_df

,unique_id,title,year,age,imdb,rotten_tomatoes,netflix,hulu,prime_video,disney_plus,movie_title
0,-2053776839122489615,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,2008-Breaking Bad
1,-2245495451778809396,Stranger Things,2016,16+,8.8,93%,1,0,0,0,2016-Stranger Things
2,4300514085241035444,Money Heist,2017,18+,8.4,91%,1,0,0,0,2017-Money Heist
3,7635463577540930099,Sherlock,2010,16+,9.1,78%,1,0,0,0,2010-Sherlock
4,5668401974009075917,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,2015-Better Call Saul
...,...,...,...,...,...,...,...,...,...,...,...
5509,-2643106944890082148,Diary of a Future President,2020,7+,5.5,100%,0,0,0,1,2020-Diary of a Future President
5517,3025389954082154991,Encore!,2019,7+,7.4,68%,0,0,0,1,2019-Encore!
5522,-5690170239431945491,Spider-Man Unlimited,1999,7+,6.5,50%,0,0,0,1,1999-Spider-Man Unlimited
5530,664097865986837535,The Super Hero Squad Show,2009,7+,6.1,50%,0,0,0,1,2009-The Super Hero Squad Show
5575,1424252878714582392,Marvel's Hero Project,2019,7+,6.1,92%,0,0,0,1,2019-Marvel's Hero Project

In [20]:
series_df.set_index("unique_id", inplace=True)
series_df

,title,year,age,imdb,rotten_tomatoes,netflix,hulu,prime_video,disney_plus,movie_title
unique_id,,,,,,,,,,
-2053776839122489615,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,2008-Breaking Bad
-2245495451778809396,Stranger Things,2016,16+,8.8,93%,1,0,0,0,2016-Stranger Things
4300514085241035444,Money Heist,2017,18+,8.4,91%,1,0,0,0,2017-Money Heist
7635463577540930099,Sherlock,2010,16+,9.1,78%,1,0,0,0,2010-Sherlock
5668401974009075917,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,2015-Better Call Saul
...,...,...,...,...,...,...,...,...,...,...
-2643106944890082148,Diary of a Future President,2020,7+,5.5,100%,0,0,0,1,2020-Diary of a Future President
3025389954082154991,Encore!,2019,7+,7.4,68%,0,0,0,1,2019-Encore!
-5690170239431945491,Spider-Man Unlimited,1999,7+,6.5,50%,0,0,0,1,1999-Spider-Man Unlimited
664097865986837535,The Super Hero Squad Show,2009,7+,6.1,50%,0,0,0,1,2009-The Super Hero Squad Show
1424252878714582392,Marvel's Hero Project,2019,7+,6.1,92%,0,0,0,1,2019-Marvel's Hero Project

In [21]:
# Create database connection
streaming_connection = f"postgresql://{c.username}:{c.password}@localhost:5432/streaming_db"
engine = create_engine(streaming_connection)

In [22]:
engine.table_names()

['movies', 'series']

In [23]:
# Load dataframes into database
movies_df.to_sql(name="movies", con=engine, if_exists="append", index=True)
series_df.to_sql(name="series", con=engine, if_exists="append", index=True)

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied for table movies

[SQL: INSERT INTO movies (unique_id, title, year, age, imdb, rotten_tomatoes, netflix, hulu, prime_video, disney_plus, directors, genres, country, language, runtime, movie_title) VALUES (%(unique_id)s, %(title)s, %(year)s, %(age)s, %(imdb)s, %(rotten_tomatoes)s, %(netflix)s, %(hulu)s, %(prime_video)s, %(disney_plus)s, %(directors)s, %(genres)s, %(country)s, %(language)s, %(runtime)s, %(movie_title)s)]
[parameters: ({'unique_id': 8200595708257654949, 'title': 'Inception', 'year': 2010, 'age': '13+', 'imdb': 8.8, 'rotten_tomatoes': '87%', 'netflix': 1, 'hulu': 0, 'prime_video': 0, 'disney_plus': 0, 'directors': 'Christopher Nolan', 'genres': 'Action,Adventure,Sci-Fi,Thriller', 'country': 'United States,United Kingdom', 'language': 'English,Japanese,French', 'runtime': 148.0, 'movie_title': '2010-Inception'}, {'unique_id': 5188275833930102989, 'title': 'The Matrix', 'year': 1999, 'age': '18+', 'imdb': 8.7, 'rotten_tomatoes': '87%', 'netflix': 1, 'hulu': 0, 'prime_video': 0, 'disney_plus': 0, 'directors': 'Lana Wachowski,Lilly Wachowski', 'genres': 'Action,Sci-Fi', 'country': 'United States', 'language': 'English', 'runtime': 136.0, 'movie_title': '1999-The Matrix'}, {'unique_id': -6880419312316972355, 'title': 'Avengers: Infinity War', 'year': 2018, 'age': '13+', 'imdb': 8.5, 'rotten_tomatoes': '84%', 'netflix': 1, 'hulu': 0, 'prime_video': 0, 'disney_plus': 0, 'directors': 'Anthony Russo,Joe Russo', 'genres': 'Action,Adventure,Sci-Fi', 'country': 'United States', 'language': 'English', 'runtime': 149.0, 'movie_title': '2018-Avengers: Infinity War'}, {'unique_id': 4448846639258475905, 'title': 'Back to the Future', 'year': 1985, 'age': '7+', 'imdb': 8.5, 'rotten_tomatoes': '96%', 'netflix': 1, 'hulu': 0, 'prime_video': 0, 'disney_plus': 0, 'directors': 'Robert Zemeckis', 'genres': 'Adventure,Comedy,Sci-Fi', 'country': 'United States', 'language': 'English', 'runtime': 116.0, 'movie_title': '1985-Back to the Future'}, {'unique_id': 3669118632546648811, 'title': 'The Good, the Bad and the Ugly', 'year': 1966, 'age': '18+', 'imdb': 8.8, 'rotten_tomatoes': '97%', 'netflix': 1, 'hulu': 0, 'prime_video': 1, 'disney_plus': 0, 'directors': 'Sergio Leone', 'genres': 'Western', 'country': 'Italy,Spain,West Germany', 'language': 'Italian', 'runtime': 161.0, 'movie_title': '1966-The Good, the Bad and the Ugly'}, {'unique_id': 5251110151446034468, 'title': 'Spider-Man: Into the Spider-Verse', 'year': 2018, 'age': '7+', 'imdb': 8.4, 'rotten_tomatoes': '97%', 'netflix': 1, 'hulu': 0, 'prime_video': 0, 'disney_plus': 0, 'directors': 'Bob Persichetti,Peter Ramsey,Rodney Rothman', 'genres': 'Animation,Action,Adventure,Family,Sci-Fi', 'country': 'United States', 'language': 'English,Spanish', 'runtime': 117.0, 'movie_title': '2018-Spider-Man: Into the Spider-Verse'}, {'unique_id': 5161864653282788809, 'title': 'The Pianist', 'year': 2002, 'age': '18+', 'imdb': 8.5, 'rotten_tomatoes': '95%', 'netflix': 1, 'hulu': 0, 'prime_video': 1, 'disney_plus': 0, 'directors': 'Roman Polanski', 'genres': 'Biography,Drama,Music,War', 'country': 'United Kingdom,France,Poland,Germany', 'language': 'English,German,Russian', 'runtime': 150.0, 'movie_title': '2002-The Pianist'}, {'unique_id': -715613296493708955, 'title': 'Django Unchained', 'year': 2012, 'age': '18+', 'imdb': 8.4, 'rotten_tomatoes': '87%', 'netflix': 1, 'hulu': 0, 'prime_video': 0, 'disney_plus': 0, 'directors': 'Quentin Tarantino', 'genres': 'Drama,Western', 'country': 'United States', 'language': 'English,German,French,Italian', 'runtime': 165.0, 'movie_title': '2012-Django Unchained'}  ... displaying 10 of 3301 total bound parameter sets ...  {'unique_id': 6910040699332487969, 'title': 'Kazaam', 'year': 1996, 'age': '7+', 'imdb': 3.0, 'rotten_tomatoes': '6%', 'netflix': 0, 'hulu': 0, 'prime_video': 0, 'disney_plus': 1, 'directors': 'Paul Michael Glaser', 'genres': 'Comedy,Family,Fantasy,Musical', 'country': 'United States', 'language': 'English', 'runtime': 93.0, 'movie_title': '1996-Kazaam'}, {'unique_id': -5751548207420351318, 'title': 'Meet the Deedles', 'year': 1998, 'age': '7+', 'imdb': 4.1, 'rotten_tomatoes': '7%', 'netflix': 0, 'hulu': 0, 'prime_video': 0, 'disney_plus': 1, 'directors': 'Steve Boyum', 'genres': 'Comedy,Family', 'country': 'United States', 'language': 'English', 'runtime': 93.0, 'movie_title': '1998-Meet the Deedles'})]
(Background on this error at: http://sqlalche.me/e/13/f405)